BasedOnStyle: LLVM
Language: Cpp
Standard: c11
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
SortIncludes: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterControlStatement: Never
  BeforeElse: false
  BeforeCatch: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
